@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Bowlby+One+SC&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: #444444;
}

a {
  color: #ffab04;
  text-decoration: none;
}

a:hover {
  color: #ffab04;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif, monospace;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  display: block;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185);
}

/* Navbar */

@media (min-width: 992px) {
  #navbarText {
    background-color: rgb(0, 0, 0, 0, 0);
  }
}

@media (max-width: 991px) {
  #navbarText {
    background-color: black;
  }
  .navbar img {
    width: "50px";
    height: "auto";
  }
}

.navbar {
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}
.close-navbar-toggler.collapsed {
  z-index: -1;
}

#logoimg {
  height: auto;
  width: 25vh;
}

.nav-item {
  margin-left: 20px;
  margin-top: 7px;
}

@media (max-width: 720px) {
  #logoimg {
    height: auto;
    width: 23vh;
  }

  #kkk {
    margin-top: 25px;
  }
}

#morebtn {
  color: white;
  font-size: 12px;
  padding: 15px;
  border-radius: 4px;
  font-weight: bold;
}

#morebtn:hover {
  background-color: #9f9f9f;
}

/* Coverpage start*/

/* #cover{
    background: linear-gradient(90deg, #000000 0%, #161616 100%);
  } */

#cover {
  background: linear-gradient(90deg, #000000e4 100%, #000000d1 100%),
    url("./components/assets/image/home_bg.gif") center/cover no-repeat;
  border-radius: 0 0 12px 12px; /* if you also want rounded corners */
}

#coverimage {
  border-radius: 8px;
}

@media (min-width: 1479px) {
  #cover {
    height: 75vh;
    padding-top: 25vh;
  }

  #covertext {
    width: 49vh;
    margin-top: -50px;
  }

  #cover h1 {
    font-size: 45px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1479px) {
  #cover {
    height: 62vh;
    padding-top: 22vh;
  }

  #covertext {
    width: 40vh;
    margin-top: -50px;
  }

  #cover h1 {
    font-size: 40px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 18px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  #cover {
    height: 54vh;
    padding-top: 22vh;
  }

  #covertext {
    width: 34vh;
    margin-top: -50px;
  }

  #cover h1 {
    font-size: 30px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media (min-width: 850px) and (max-width: 991px) {
  #cover {
    height: 140vh;
    padding-top: 22vh;
    background-position: 72% 50%;
  }

  #covertext {
    width: 60%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -15px;
    font-size: 35px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 13px;
  }

  #coverimage {
    margin-top: 20px;
  }
}

@media (min-width: 750px) and (max-width: 850px) {
  #cover {
    height: 120vh;
    padding-top: 22vh;
    background-position: 72% 50%;
  }

  #covertext {
    width: 60%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -15px;
    font-size: 35px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 13px;
  }

  #coverimage {
    margin-top: 20px;
  }
}

@media (min-width: 600px) and (max-width: 750px) {
  #cover {
    height: 110vh;
    padding-top: 22vh;
    background-position: 75% 50%;
  }

  #covertext {
    width: 60%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -15px;
    font-size: 35px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 13px;
  }

  #coverimage {
    margin-top: 20px;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #cover {
    height: 90vh;
    padding-top: 22vh;
    background-position: 75% 50%;
  }

  #covertext {
    width: 60%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -15px;
    font-size: 35px;
  }

  #cover p {
    margin-top: 20px;
    font-size: 13px;
  }

  #coverimage {
    margin-top: 10px;
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  #cover {
    height: 85vh;
    padding-top: 22vh;
    background-position: 82% 50%;
  }

  #coverimage {
    margin-top: 25px;
  }

  #covertext {
    width: 100%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -15px;
    font-size: 21px;
  }

  #cover p {
    margin-top: 10px;
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  #cover {
    height: 70vh;
    padding-top: 22vh;
    background-position: 82% 50%;
  }

  #coverimage {
    margin-top: 25px;
  }

  #covertext {
    width: 100%;
    margin-top: -50px;
  }

  #cover h1 {
    margin-top: -18px;
    font-size: 21px;
  }

  #cover p {
    margin-top: 10px;
    font-size: 12px;
  }
}

/* Coverpage end*/

/*Assam*/
#assamtop {
  width: 100%;
  height: 45vh;
  background: url("https://img.traveltriangle.com/blog/wp-content/uploads/2020/01/OG-PLACES-TO-VISIT-IN-ASSAM.jpg")
    top center;
  background-size: cover;
  background-position: 50% 200%;
  position: relative;
}

#assamtop:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#assamtop .container {
  position: relative;
  padding-top: 65px;
  text-align: center;
}

#assamtop h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#assamtop h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 2px 0 0 0;
  font-size: 20px;
}

@media (min-width: 1024px) {
  #assamtop {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #assamtop {
    height: auto;
  }
  #assamtop h1 {
    font-size: 27px;
    margin-top: 0px;
  }
  #assamtop h2 {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
}
/*Assam*/

/*Assam2nd*/
#assamtopp {
  width: 100%;
  height: 45vh;
  background: url("https://cdn.britannica.com/51/124451-050-B0B0222D/view-Guwahati-Assam-India.jpg")
    top center;
  background-size: cover;
  position: relative;
}

#assamtopp:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#assamtopp .container {
  position: relative;
  padding-top: 65px;
  text-align: center;
}

#assamtopp h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#assamtopp h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 2px 0 0 0;
  font-size: 20px;
}

@media (min-width: 1024px) {
  #assamtopp {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #assamtopp {
    height: auto;
  }
  #assamtopp h1 {
    font-size: 27px;
    margin-top: 0px;
  }
  #assamtopp h2 {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
}
/*Assam2nd*/

/* team start*/

@media (min-width: 1322px) {
  #picteam {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
  }
}

@media (min-width: 1180px) and (max-width: 1322px) {
  #picteam {
    height: 25vh;
    width: 30vh;
    object-fit: cover;
  }

  #team h6 {
    font-size: 12px;
  }

  #team p {
    font-size: 12px;
  }
}

@media (min-width: 991px) and (max-width: 1180px) {
  #picteam {
    height: 25vh;
    width: 30vh;
    object-fit: cover;
  }

  #team h6 {
    font-size: 12px;
  }

  #team p {
    font-size: 12px;
  }
}

@media (min-width: 550px) and (max-width: 991px) {
  #picteam {
    height: 40vh;
    width: 35vh;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  #picteam {
    height: 55vh;
    width: 100%;
    object-fit: cover;
  }
}

/* Team end*/

@media (max-width: 550px) {
  #images {
    height: 28vh;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 551px) {
  #images {
    height: 29.5vh;
    width: 100%;
    object-fit: cover;
  }
}

table {
  font-size: 13px;
  text-align: left;
}

td,
th {
  border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

#datebar {
  background-color: rgb(75, 75, 75);
  padding: "0 5px 0 10px";
  margin-top: 11vh;
}

.blog {
  position: relative;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(167, 167, 167, 0.25);
  margin-top: 20px;
}
.blog-image {
  overflow: hidden;
  margin-top: -10px;
}
.blog-image,
.blog-image > a,
.blog-image img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.blog-image img {
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.blog-image a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-image {
  margin-bottom: 30px;
}
.blog-content {
  position: relative;
  padding: 10px;
}
.blog-title {
  padding: 0 10px;
  height: 6.2vh;
}

.blog-title h3 {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.blog-title p {
  color: #fff;
  font-size: 12px;
}
.read-more {
  color: #282628;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}
.read-more:hover {
  color: grey;
  margin-left: 10px;
}
.read-more i {
  color: orange;
  font-size: 14px;
  margin-right: 3px;
}
.blog-info {
  border: 1px solid #eaeaea;
  color: #909090;
  font-size: 12px;
  margin-bottom: 0;
  padding: 12px 20px;
}
.blog-info a {
  color: #909090;
  margin-right: 5px;
}
.blog-info a:last-child {
  margin-right: 0;
}
.blog-info a:hover {
  color: #009efb;
}
.blog-info i {
  color: #009efb;
  font-size: 18px;
  margin-right: 5px;
}
.post-left {
  float: left;
}
.post-right {
  float: right;
}
.post-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-left ul li {
  float: left;
  margin-right: 20px;
}
.post-left ul li:last-child {
  margin-right: 0;
}
.video {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.widget {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e7e7e7;
}
.widget h5 {
  color: #656565;
  font-size: 21px;
  font-weight: normal;
  margin: 0 0 20px;
}
.search-form .form-control {
  border: 1px solid #eaeaea;
  border-radius: 0;
  border-right: 0;
  box-shadow: inherit;
  height: 40px;
  color: #ababab;
}
.search-form .btn-primary {
  background-color: transparent;
  border-color: #eaeaea;
  border-left: none;
  color: #009efb;
  height: 40px;
  border-radius: 0;
}
.latest-posts {
  margin: 0;
  padding: 0;
}
.latest-posts li {
  display: table;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.latest-posts li:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.post-thumb {
  width: 80px;
  float: left;
  overflow: hidden;
}
.post-thumb a img {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.post-thumb a:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.post-info {
  margin-left: 95px;
}
.post-info h4 {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 0 10px;
}
.post-info h4 a {
  color: #333;
}
.post-info p {
  color: #909090;
  font-size: 12px;
  margin: 0;
}
.post-info p i {
  color: #646464;
  font-size: 16px;
  margin-right: 4px;
}
.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}
.categories li {
  padding: 12px 0;
  border-bottom: 1px solid #eaeaea;
}
.categories li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.categories li a {
  color: #656565;
  font-size: 14px;
}
.categories li a:hover {
  color: #009efb;
  margin-left: 10px;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.categories > li > a > i {
  color: #009efb;
  font-size: 18px;
  margin-right: 10px;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.tags li {
  float: left;
}
.tag {
  background-color: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 12px;
}
.tag:before {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag:after {
  background-color: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: #009efb;
  color: #fff;
}
.tag:hover:after {
  border-left-color: #009efb;
}
.comment-by {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 10px;
}
.comments-list .comment-block p {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  text-align: justify;
}
blockquote p {
  font-style: italic;
  font-weight: 400;
}
.grid-blog .blog-title {
  font-size: 16px;
  margin: 0 0 10px;
}
.grid-blog .blog-title a {
  color: #333;
}
.grid-blog .blog-content p {
  font-size: 13px;
  margin: 0 0 15px;
  color: #909090;
}
.grid-blog .blog-info {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin-bottom: 0;
  padding: 12px 0;
}
.grid-blog .blog-image {
  margin-bottom: 20px;
}
.grid-blog .read-more {
  font-size: 13px;
  margin-bottom: 15px;
}
.product-thumbnail {
  position: relative;
  margin-bottom: 0;
  margin-top: 10px;
}

@media (min-width: 768px) {
  #blogimagecover {
    height: 35vh;
  }
}

@media (max-width: 768px) {
  #blogimagecover {
    height: 25vh;
  }

  .blogviewtext {
    font-size: 16px;
  }
}

.nav-item.active .nav-link {
  color: #f39c12 !important; /* orange highlight */
  font-weight: bold;
  border-bottom: 2px solid #f39c12;
}

/*Advisors*/
.advisor-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* spacing between cards */
  margin-top: 20px;
}

.advisor-card {
  flex: 1 1 200px; /* grow/shrink with min width */
  max-width: 250px; /* optional: restrict max size */
  display: flex;
}

.advisorH1 {
  font-size: 15px;
  font-weight: 700;
}

.advisorH2 {
  font-size: 12px;
}

@media (max-width: 500px) {
  .advisor-card {
    width: 100%;
    max-width: 470px;
  }

  .advisorH1 {
    font-size: 18px;
  }

  .advisorH2 {
    font-size: 15px;
  }
  .boardmemberheading {
    text-align: center;
  }

  .advisorheading {
    text-align: center;
  }
}

/* Custom Light Theme Navbar */
.custom-navbar {
  background-color: #ffffff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 90px;
}

.custom-navbar .navbar-brand img {
  height: 50px;
}

.custom-navbar .date-time {
  text-align: right;
  color: #333;
  margin-top: 9px;
  font-weight: 500;
}

.custom-navbar .profile-btn {
  margin-top: 9px;
  background-color: #f8f9fa !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
}

.user-email {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.section-title h2 {
  font-size: 1.3rem;
}

#portal-navbar {
  z-index: 100;
}

.mainloaderDiv {
  background-color: #0000001e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9; /* behind loader box */
}

.loaderComponent {
  position: fixed;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  z-index: 1000; /* above backdrop */
  text-align: center;

  width: 90%; /* responsive */
  max-width: 350px; /* don’t exceed 320px */
  min-width: 150px;
}

/* ✅ Smaller padding on mobile */
@media (max-width: 992px) {
  .loaderComponent {
    padding: 20px 30px;
    top: 55%;
    left: 50%;
  }
}

.card {
  padding: 2% 7%;
  color: #646771;
  background-color: #ffffff;
}

.users-label {
  font-size: 12px;
  margin-bottom: 2px;
  color: #4c4c4c;
}

.topmenu {
  width: 100%;
}

@media (max-width: 992px) {
  .aboutusImg1 {
    display: none;
  }
}

@media (min-width: 992px) {
  .topmenu {
    display: none;
  }

  .aboutusImg2 {
    display: none;
  }
}

.topmenu li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.topmenu li:hover {
  background-color: rgb(239, 248, 255);
}

.topmenu li a {
  color: rgb(115, 115, 115);
}
